* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	font-family: "Lobster", cursive;
}
.header {
	background-color: #170f11;
	height: 6rem;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 7rem;
	align-items: center;
	justify-content: center;
}
.app-container {
	width: 100%;
	position: absolute;
	top: 7rem;
	left: 0;
}
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.add-todo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: clamp(15rem, 70%, 30rem);
	padding: 0 0.75rem;
}

.button {
	padding: 0;
	height: 100%;
	background: #9dd1f1;
}
.button-wrapper {
	height: 3.5rem;
	margin-left: 0.35rem;
}
.todo-container {
	padding: 0.75rem 1rem;

	margin-left: auto;
	margin-right: auto;
	margin: 1rem;
	width: clamp(15rem, 70%, 30rem);
	border-radius: 1rem;
	background-color: rgb(221, 221, 221);
}
.todo {
	background-color: rgb(255, 255, 255);
	padding: 0 0.5rem 0 1rem;
	min-height: 1rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 2px 1px 17px -6px rgba(0, 0, 0, 0.4);
}
p {
	font-size: 1rem;
	font-family: sans-serif;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
.text-center {
	text-align: center;
}

.no-bullet {
	list-style-type: none;
}
